<div class="w-full">
  <h2>Suceso:</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="locationForm">
    <div class="field">
      <label
        for="title"
        class="block font-bold text-900 mb-2 ng-invalid ng-dirty"
        >Título</label
      >
      <input
        id="title"
        type="text"
        placeholder="Título"
        pInputText
        class="w-full mb-3"
        formControlName="title"
      />
    </div>
    <div class="field">
      <label class="font-bold block mb-2"> Coordinates </label>
      <p-fluid class="flex gap-4">
        <p-inputnumber
          inputId="longitude"
          formControlName="longitude"
          placeholder="Longitude"
          [min]="-180"
          [max]="180"
          class="p-disabled"
          [readonly]="true"
        />
        <p-inputnumber
          inputId="latitude"
          formControlName="latitude"
          placeholder="Latitude"
          [min]="-90"
          [max]="90"
          class="p-disabled"
          [readonly]="true"
        />
      </p-fluid>
    </div>
    <div class="field">
      <label for="date" class="font-bold block mb-2"> Fecha </label>
      <p-datepicker
        dateFormat="dd/mm/yy"
        formControlName="date"
        [inputStyleClass]="'fluid'"
      />
    </div>

    <div class="field">
      <label for="description" class="font-bold block mb-2">
        Descripción
      </label>
      <p-accordion class="w-full" [value]="0">
        <p-accordion-panel value="0">
          <p-accordion-header>
            <ng-template #toggleicon let-active="active">
              @if (active) {
              <i class="pi pi-minus"></i>
              } @else {
              <i class="pi pi-plus"></i>
              }
            </ng-template>

            <span class="font-bold white-space-nowrap"> Editor </span>
          </p-accordion-header>
          <p-accordion-content>
            <p-editor
              formControlName="description"
              [style]="{ height: '320px' }"
            >
              <ng-template #header>
                <span class="ql-formats">
                  <select class="ql-font"></select>
                  <select class="ql-size"></select>
                </span>
                <span class="ql-formats">
                  <button
                    type="button"
                    class="ql-bold"
                    aria-label="Bold"
                  ></button>
                  <button
                    type="button"
                    class="ql-italic"
                    aria-label="Italic"
                  ></button>
                  <button
                    type="button"
                    class="ql-underline"
                    aria-label="Underline"
                  ></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                </span>
              </ng-template>
            </p-editor>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
    <div class="field">
      <label for="categories" class="block font-bold text-900 mb-2"
        >Categorías</label
      >
      <p-multiSelect
        placeholder="Categorías"
        optionLabel="name"
        formControlName="selectedCategories"
        display="chip"
        [showClear]="true"
        [options]="categories ?? []"
        [style]="{ width: '100%' }"
        [loading]="loadingCategories"
        inputId="categories"
      >
        <ng-template pTemplate="footer">
          <div class="p-3 flex justify-between">
            <p-button
              label="Add New"
              severity="secondary"
              text
              size="small"
              icon="pi pi-plus"
            />
            <p-button
              label="Remove All"
              severity="danger"
              text
              size="small"
              icon="pi pi-times"
            />
          </div>
        </ng-template>
      </p-multiSelect>
    </div>
    <p-button label="Guardar" type="submit" />
  </form>
</div>
