.edit-bar {
  font-size: 1.6rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.panel-container {
  span {
    color: black;
  }
}
.ol-layerswitcher {
  font-size: 1.3rem;
}

.layerswitcher-opacity {
  display: none;
}
